@import "bootstrap";


main {
    font-family: monospace;
    padding: 2vw;
}

ul {
    list-style-type: none;
    padding: 0;
}

li>div {
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-width: 0 0 1px 0;
}

li div span,
div {
    flex-basis: calc(100% / 3);
    padding: 10px;
}

section {
    text-align: center;
    margin-bottom: 50px;
}

a,
input[type='submit'] {
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
}