<section class="header">
    <div class="header-div">
        <span><%= link_to('Sign up', signup_path, class: 'right') if not logged_in? %></span>        
        <span><%= logged_in? ? link_to('Logout', logout_path, data: { turbo_method: :delete }, class: 'right') : link_to('Login', login_path, class: 'right') %></span>
        <span><%= link_to((current_user.admin? ? '(admin)' : '') + current_user.username, user_path(current_user), class: 'right') if logged_in? %></span>
    <div>
<section>
